@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0px;
  padding: 0px;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,197,204,1) 100%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
.wrapper {
  margin: 0 auto;
  min-width: 320;
  padding: 0;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  padding: 25px;
  color:darkslategrey;
  margin: 0;
}

h5, p {
  font-family: 'Crimson Text', serif;
}

ul {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
}

li {
list-style-type: none;
  padding: 15px 0;
  flex: 0 1 100%;
}

.card-us {
  margin: 0 auto;
}


@media only screen and (min-width: 605px) {
	li {
		flex: 0 1 50%;
	}
}

@media only screen and (min-width: 1200px) { 
	li {
		flex: 0 1 25% !important;
	}
}